ALTER TABLE schools ADD COLUMN IF NOT EXISTS about_quote TEXT; ALTER TABLE schools ADD COLUMN IF NOT EXISTS about_quote_author TEXT;
ALTER TABLE schools ADD COLUMN IF NOT EXISTS about_quote_show_marks BOOLEAN DEFAULT FALSE;
ALTER TABLE schools ADD COLUMN IF NOT EXISTS about_text_show_marks BOOLEAN DEFAULT FALSE;
